th{
    color:#7AA305;
    font-size: 30px;
}
.para{
    color:#7AA305;
}
.b{
    color: #7ca30c;
    font-size: 20px;
}
.e{
    color: #875B41;
    font-size: 20px;
}
.one{
    color: #7C543E;
}
img{
    width: 150px;
    height: 150px;
}
.last{
    color: #7aa305;
    font-size: 30px;
    font-family: caveat;
}
.last2{
    color: #7C543E;
    font-size: 20px;
    font-family: caveat;
}